@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

@import "css/font-awesome.css";

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto,Museo300-display,MuseoSans,Helmet,Freesans,sans-serif;
}
#front-main span {
    background-color: white;
    padding: 6px;
    color: #666;
}
body {
  font-family: Roboto,MuseoSans,Helmet,Freesans,sans-serif;
}

#site-logo {
  width: 200px;
  background: url("images/logo.png") -3px -3px no-repeat;
}

.shadow-wrap ul#key-tools li a:hover, .shadow-wrap ul#key-tools li a.hover, .shadow-wrap ul#key-tools li input[type="submit"]:hover, .shadow-wrap ul#key-tools li input.hover[type="submit"] {
  background-color: #4DB848;
  outline:none;
}

#report-cta {
  color: #48B848;
  top: 1.7em;
  left: 0;
  margin-left: 5px;
  position: relative;
  border-color: #999;
}

#report-cta:hover {
  color: #fff;
  background-color: #48B848;
  border-color: #48B848;
}

.frontpage #report-cta, .fullwidthpage #report-cta {
    display: none;
}

.item-list--wards__item a:hover, .item-list--reports__item a:hover, .item-list--wards__item a:focus, .item-list--reports__item a:focus, .hovered.item-list--wards__item a, .hovered.item-list--reports__item a {
    background-color: #efefef;
    text-decoration: none;
    color: #4DB848 !important;
    
}

.item-list__item {
    list-style: none;
    background-color: transparent;
    margin: 10px 0 5px 0px;
    padding: 0.5em 0em;
    display: block;
    border-bottom: 1px solid #eee;
}

.item-list--wards__item, .item-list--reports__item {
    padding:0.5em 0em;
}
.item-list.item-list--updates {
    margin: 1em;
}

.report-list-filters .multi-select-button {
    max-width: 10em;
    padding: 2px 3em 2px 3em;
    line-height: 1.8em;
    vertical-align: top;
    height: 2em;
    box-shadow: none;
    border-color: #999;
    border-radius: 5px;
    color: #666;
}

.report-list-filters .form-control, .report-list-filters .dropzone {
    max-width: 15em;
    padding: 2px 3em 2px 3em;
    line-height: 1.8em;
    vertical-align: top;
    height: 2.5em;
    box-shadow: none;
    border-color: #999;
    border-radius: 5px;
    color: #666;
}

.item-list--reports__item a {
  padding:0.5em 0.5em 0.5em 0.5em;
}


.item-list {
  border-bottom: none;
  margin: 0em 1em 0em 1em;
}

.btn {
    color: #999;
    background: transparent;
    border-color: #999;
    height: 3em;
}

.btn:hover {
    color: #fff !important;
    background: #48B848;
    border-color: #48B848;
    height: 3em;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    color: #999 !important;
    background: transparent;
    border-color: #999;
    height: 3em;
    outline:none;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
    color: #fff !important;
    background: #48B848;
    border-color: #48B848;
    height: 3em;
    outline:none;
}
.btn.js-moderate.moderate-display {
    height: auto;
    padding: 4px;
    font-size: 12px;
    float: right;
}
.segmented-control a, .segmented-control .btn {
    height: 1em !important;
}

.inspect-section .btn--navigate, .inspect-section .btn--block {
    height: 1em;
}

.form-box {
    margin: 0 0em 0em;
    background: #eee;
    padding: 1em;
    border-bottom: 2px solid #48B848;
    border-color: #48B848 !important;
}

.form-box .btn--facebook, .form-box .btn--facebook:hover {
    background: #3b5998 !important;
    color: white !important;
    border-radius: 5px !important;
    height: 3em;
    border-color: #3b5998 !important;
}

.form-txt-submit-box input[type="submit"] {
    float: right;
    width: 28%;
    margin-right: 0.25em;
    padding-top: 0.6em;
    padding-bottom: 0.5em;
    background: none;
    color: #48B848 !important;
    height: 3em;
    border-color: #48B848;
    outline:none;
}

.form-txt-submit-box input[type="submit"]:hover {
    background: #48B848;
    color: #fff !important;
    outline:none;
}

.content {
  color: #666;
}

#report-a-problem-sidebar {
 background-color: #eee;
}

label {
  color: #48B848;
}

.form-control, .dropzone {

  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: none;
  padding: 10px;

}

.form-box .form-control, .form-box .dropzone {

  border-color: #4E6E5D;
  background-color: #eee;
  color: #4E6E5D;

}

input[type="text"], input[type="password"], input[type="email"], textarea {
  height: 3em;
  padding: 10px;
  outline:none;
}


select.form-control, select.dropzone {
  box-shadow: none;
  padding: 10px;
  height: 3em;
  color: #666;
}


.dz-clickable:hover .dz-message u, .dz-drag-hover .dz-message u {
  color: #48B848;
}

.dz-clickable .dz-message u {
  color: #48B848;
}

a, .content a {
  color: #48B848;
  text-decoration: none;
}

a:hover, a:active, .content a:active, .content a:hover {
  color: #4E6E5D;
  text-decoration: none;
}

.plain-list a {
    color: #4DB848;
}

footer {
    margin: -4em auto 6em auto;
    width: 62em;
}

.home footer {
    margin: -5.5em auto 6em auto;
    width: 60em;
}


/* Map legend 
***************************************************************/
.panel {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  position: absolute;
  z-index: -999;
  top: 0;
  height: 100%;
  width: 20em;
  color: #888;
  padding: 1em;
  left: 29em;
  overflow: auto;

  /* ul */
  /* Ninja Button styles */
  /* Ninja Button */
  /* Ninja Button Active */
}
.panel a{
  color: #4DB848;
  font-family: sans-serif;
}


.ninja-btn {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  display: inline-block;
  float: left;
  cursor: pointer;
  padding: 13px;
  /*padding: 34.28571429px 30px;*/
  position: absolute;
  z-index: 2;
  top: 1em;
  width: 30px;
  height: 20.18181818px;
  left: 1em;
}
.ninja-btn span,
.ninja-btn span:before,
.ninja-btn span:after {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  width: 30px;
  height: 2px;
}
.ninja-btn span {
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 9.09090909px;
}
.ninja-btn span:before,
.ninja-btn span:after {
  content: "";
  position: absolute;
  left: 0;
}
.ninja-btn span:before {
  top: -9.09090909px;
}
.ninja-btn span:after {
  top: 9.09090909px;
}
.ninja-btn.active span {
  background-color: transparent;
}
.ninja-btn.active span:before,
.ninja-btn.active span:after {
  top: 0;
}
.ninja-btn.active span:before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
}
.ninja-btn.active span:after {
  -webkit-transition-delay: 0.09s;
  -moz-transition-delay: 0.09s;
  -o-transition-delay: 0.09s;
  -msa-transition-delay: 0.09s;
  transition-delay: 0.09s;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}
/* Panel */
.panel-overlay {
  position: fixed;
  top: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(255, 255, 255, 0.55);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(100%, rgba(255, 255, 255, 0.8)));
  cursor: pointer;
  top: 4em;
}
/* overlay */
.panel-white {
  background-color: #ffffff;
  left: 29em;
  /* ul */
}

.ninja-btn {
  background-color: #ffffff;
}
.ninja-btn span,
.ninja-btn span:before,
.ninja-btn span:after {
  background-color: #4DB848;
}
/* panel white */

/* panel brand */
.panel.left {
    left: 0em;
    z-index: 0;
    top: 0em;
}
.panel.left .ninja-btn {
  left: 110%;
  top: 11px;
}
/* Panel Left Active */
.panel.left.active {
  z-index: 99999;
  display: block !important;
}
.ninja-btn.active {
  left: 23em;
  margin-left: 0px;
}
/* Panel Menu Active */

nav .fa {
    font-size: 1.2em;
}

nav ul li.active .fa {
    color: #4DB848 !important;
}

nav ul li:hover a, nav ul li:hover .fa {
    color: #4DB848;
}
#footer-mobileapps p {
  text-align: center;
}
#footer-mobileapps a img {
    width: 50%;
    padding: 1em 1em 1em 1em;
}
*:focus {
    outline: none;
}
#footer-mobileapps h4, #footer-help h4 {
    margin: 0;
    font-weight: bold;
    color: #666;
    font-size: 1.2em;
    margin-bottom: 1em;
    padding: 0;
    text-align: center;
}
#footer-mobileapps, #footer-help {
  color: #888;
}
#footer-help a img {
    height: 80px;
    margin: 5px;
}
#footer-help p a:nth-child(3) img {
    height: 45px;
}
#footer-help p {
    text-align: center;
}
.item-list--reports__item .img {
  border-radius: 10px;
}

.image-square {
    width: 90px;
    height: 60px;
    float: right;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 1em;
    border: 1px solid #cdcdcd;
}
.admin .full-width {
    background-color: #efefef;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 15px;
}

.item-list__heading {
  margin-left: 4.8em;
}

.item-list--reports__item small, .item-list--reports__item .small-print {
  margin-left: 5.8em;
}

.problem-circle {
    width: 3em;
    height: 3em;
    border: 1px solid #cdcdcd;
    text-align: center;
    font-size: 1.3em;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.problem-circle .fa {
  color: #cdcdcd;
  padding-top: 0.8em;
  font-size: 1.2em;
  position: relative;
}
.problem-circle .pin {
    position: absolute;
    top: -0.3em;
    left: 0.9em;
}

.problem-circle.traffic, .item-list__heading.traffic {
    border-color: #1260B6;
    color: #1260B6;
}
.problem-circle.environmental, .item-list__heading.environmental {
    border-color: #50B391;
    color: #50B391;
}
.problem-circle.infrastructure, .item-list__heading.infrastructure {
    border-color: #8053CF;
    color: #8053CF;
}
.problem-circle.waste, .item-list__heading.waste {
    border-color: #DB5B1C;
    color: #DB5B1C;
}
.problem-circle.disasterriskreduction, .item-list__heading.disasterriskreduction {
    border-color: #F42455;
    color: #F42455;
}
.problem-circle.other, .item-list__heading.other {
    border-color: #cdcdcd;
    color: #666;
}
ol.big-numbers {
    padding: 0;
    margin: 0;
    counter-reset: li;
    width: 50%;
    float: right;
}
#htrp-banner {
    margin-top: 1.5em;
    margin-left: 1em;
}
ol.big-numbers > li::before {
  top: 0em;
}
ol.big-numbers > li {
    position: relative;
    list-style: none;
    padding: 0 0 0 2.5em;
    margin-bottom: 1.2em;
    color: #4DB848;
}
#front-howto #front_stats div {
  color: #4DB848;
}
.form-success {
    background: #4DB848 !important;
    padding: 1em  !important;
    border-radius: 0em  !important;
    margin-bottom: 0em  !important;
}
.form-error {
    padding: 1em  !important;
    margin-bottom: 1em  !important;
    border-radius: 0em  !important;
    background-color: #F42455  !important;
}
.box-warning {
    text-decoration: none;
    background-color: transparent;
    border-bottom: 3px solid #F42455;
    border-top: 3px solid #F42455;
}
.box-warning a {
    color: #48B848;
    text-decoration: none;
}

#municipalities-close:hover, #show-municipalities:hover, #show-fpmap:hover {
    cursor: pointer;
}
#show-municipalities {
    background-color: transparent !important;
    color: #333 !important;
    margin-top: 10px;
}
#municipalities-popup {
    position: relative;
    width: 58em;
    margin: 1em auto;
    background-color: white;
    border-radius: 15px;
    margin-bottom: -3em;
    padding: 1em;
}

#municipalities-close {
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    background-color: #fff;
    color: #888;
    font-weight: bold;
    margin: -4em 0em 1em 1em;
    position: absolute;
    right: 0;
    z-index: 10;
    border-radius: 5px;
}

#municipalities-popup-inner {
    font-size: 1.2em;
    color: #888;
    overflow-y: auto;
    height: auto;
    max-height: 10em;
}

#municipalities-popup-inner a {
    text-decoration: none !important;
    width: 100%;
    display: block;
    vertical-align: middle;
    padding: 0.3em 0 0.3em 0;
}

#municipalities-popup-inner a:hover {
    background-color: #efefef;
}

#gotoaround {
    width: 100%;
    background-color: #fff;
    color: #4DB848 !important;
    margin-top: -1em;
    border: 1px solid #4DB848;
    border-radius: 5px;
}
.frontpage #map {
    height: 400px;
    width: 100%;
    margin: 2em 0 1.5em 0 !important;
    border: 1px solid #ebebeb;
}

#municipalities-popup label {
    margin: 0em 0em 1em 0em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}
#municipalities-popup .olMapViewport {
    margin-top:-24px;
}
#click-map {
    z-index: 1030;
    position: relative;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  #municipalities-popup {
    width: 100%;
    margin-top: 5em;
    padding: 0em;
  }

  #municipalities-popup-inner a {
    color: #888;
  }
  #municipalities-close {
    background-color: #4DB848;
    color: white;
    border-radius: 0px;
  }
  .frontpage #map {
    height: 250px;
  }
  .nav-menu a, .nav-menu span {
    border-bottom: none;
    border-top: 0.15em solid #4DB848;
    background: #fefefe;
  }
  .nav-menu a:hover, .nav-menu span.hover {
    background-color: #4DB848;
  }
  #front-howto #front_stats {
    border-top: 0.2em solid #4DB848;
    background: #fff;
  }
  #front-howto #front_stats div { color: #333; }
  #front-main #postcodeForm label { color: #fff; } 
  #front-recent {margin-top:5em;}
  #front-main #postcodeForm {margin-top: 1em;}
  #langslash {display:none;}
  .fa.fa-globe.showlangglobe {
    display: inline-block !important;
  }
  #front-howto #front_stats div big {
    color: #666;
    font-size: 1.6em;
    padding-top: 0.3em;
  }
  h1, h2, h3, h4, h5 {
    color: #666;
  }
  footer, .home footer {
    width: 90%;
    height: auto;
    clear: both;
    margin-top: 1em;
    margin-bottom: 0em;
  }
  #site-header #geolocate_link {
    display: none;
  }
  #htrp-banner {
      display: none;
  }
  ol.big-numbers {
      width: 100%;
  }
  #front-howto {
      height: 18em;
      margin: 3em 0 3em 0;
  }
  #front-recent {
    height: auto;
  }
  #site-header {
      border-top: none;
      border-bottom: 2px solid #4DB848;
      background: #fff;
      min-height: 3.5em;
  }
  #nav-link {
      background-color: #999;
      padding: 4px;
      top: 0;
  }
  #front-main-container > img {
      display: none;
  }
  #front-main #postcodeForm div {border: none;}
  #front-main #postcodeForm div input#sub {
      height: 3.5em;
      outline: none;
      padding: 0.5em;
      width: 100%;
      background-color: #fff;
      color: #666 !important;
      border-top: 5px solid #4DB848;
  }
  .sticky-sidebar {
      background-color: #efefef;
      padding: 1em 0.5em 1em 0.5em;
  }
  #footer-help {
      clear: both;
      width: 100%;
      text-align: center;
      border: none;
  }
  #footer-mobileapps {
      clear: both;
      width: 100%;
      text-align: center !important;
  }
  #footer-mobileapps p {
      text-align: center;
      width: 100%;
      border: none;
  }
  #footer-mobileapps img {
      float: none;
  }
  .ninja-btn {
      display: none;
  }
  .mobile #map_box {
      height: 15em;
      position:relative;
  }
  .report-list-filters > label, .report-list-filters .multi-select-container {
    width: 100%;
    display: block;
  }
  #report-cta {
    display: none;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
  #municipalities-popup {
    width: 100%;
    margin-top: 5em;
    padding: 0em;
  }

  #municipalities-popup-inner a {
    color: #888;
  }
  #municipalities-close {
    background-color: #4DB848;
    color: white;
    border-radius: 0px;
  }
  .frontpage #map {
    height: 250px;
  }
  .nav-menu a, .nav-menu span {
    border-bottom: none;
    border-top: 0.15em solid #4DB848;
    background: #fefefe;
  }
  .nav-menu a:hover, .nav-menu span.hover {
    background-color: #4DB848;
  }
  #front-howto #front_stats {
    border-top: 0.2em solid #4DB848;
    background: #fff;
  }
  #front-howto #front_stats div { color: #333; }
  #front-main #postcodeForm label { color: #fff; }
  #front-recent {margin-top:5em;}
  #front-main #postcodeForm {margin-top: 1em;}
  #langslash {display:none;}
  .fa.fa-globe.showlangglobe {
    display: inline-block !important;
  }
  #front-howto #front_stats div big {
    color: #666;
    font-size: 1.6em;
    padding-top: 0.3em;
  }
  h1, h2, h3, h4, h5 {
    color: #666;
  }
  footer, .home footer {
    width: 90%;
    height: auto;
    clear: both;
    margin-top: 1em;
    margin-bottom: 0em;
  }
  #site-header #geolocate_link {
    display: none;
  }
  #htrp-banner {
      display: none;
  }
  ol.big-numbers {
      width: 100%;
  }
  #front-howto {
      height: 18em;
      margin: 3em 0 3em 0;
  }
  #front-recent {
    height: auto;
  }
  #site-header {
      border-top: none;
      border-bottom: 2px solid #4DB848;
      background: #fff;
      min-height: 3.5em;
  }
  #nav-link {
      background-color: #999;
      padding: 4px;
      top: 0;
  }
  #front-main-container > img {
      display: none;
  }
  #front-main #postcodeForm div {border: none;}
  #front-main #postcodeForm div input#sub {
      height: 3.5em;
      outline: none;
      padding: 0.5em;
      width: 100%;
      background-color: #fff;
      color: #666 !important;
      border-top: 5px solid #4DB848;
  }
  .sticky-sidebar {
      background-color: #efefef;
      padding: 1em 0.5em 1em 0.5em;
  }
  #footer-help {
      clear: both;
      width: 100%;
      text-align: center;
      border: none;
  }
  #footer-mobileapps {
      clear: both;
      width: 100%;
      text-align: center !important;
  }
  #footer-mobileapps p {
      text-align: center;
      width: 100%;
      border: none;
  }
  #footer-mobileapps img {
      float: none;
  }
  .ninja-btn {
      display: none;
  }
  .mobile #map_box {
      height: 15em;
      position: relative;
  }
  .report-list-filters > label, .report-list-filters .multi-select-container {
    width: 100%;
    display: block;
  }
  #report-cta {
    display: none;
  }
}

input.form-error, textarea.form-error {
  background-color: white !important;
}
