@import "_colours";
@import "../sass/layout";


body.frontpage #site-logo {
    width: 200px;
    background: url("images/logo.png") no-repeat;
    top: 0.6em !important;
    margin-left: 1em;
    position: fixed;
}

body {
    background-color: #86cbe9;
    background-image: url("images/mountains.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom;
}

#front-main {
 margin: 0 auto;
 width: 60em;
 background: transparent;
 color: #414042;
}

#front-main h2 {
 color: #fff;
}

#front-main #postcodeForm label {
    margin: 0.5em 0;
    color: #414042;
    text-decoration: none;
    font-weight: normal;
}

body.frontpage .nav-wrapper-2 {
  height: 4em;
  position: fixed;
}

.twothirdswidthpage .container {
    background-image: linear-gradient(90deg, transparent 44.5em, #eee 29em);
}

body.twothirdswidthpage .content .sticky-sidebar aside {
  margin-left: 2em;
  margin-top: 2em;
  top: 11em;
  border-bottom: 2px solid #4DB848;
}

#main-nav {
  float: right;
}

body.mappage #main-nav {
  width: 100%;
  margin-right: 1em;
  float: left;
}

.container {
 margin: 3em auto 6em auto;
 padding: 1em;
 width: 60em;
 position: relative;
 background-color: #fff;
 border-radius: 15px;
}
.container.header-logo {
    width: 100%;
}
#site-header .container {
    min-height: 4em;
    padding: 0;
    margin: 0 auto;
}
.nav-menu.nav-menu--main {
    margin: 0 1em 0 0;
}
.nav-menu--main a:hover {
 background-color: transparent;
 color: #4DB848;
}
.nav-menu--main a, .nav-menu--main span {
    padding: 1.5em;
    font-size: 0.9em;
}

#report-cta {
  display: block;
}

.nav-menu.nav-menu--main.left {
    float: left;
    margin-left: 15em;
}

.frontpage .nav-menu.nav-menu--main.left, .fullwidthpage .nav-menu.nav-menu--main.left {
  display:none;
}

#front-main #postcodeForm div {
    border: none;
    width: 32em;
    height: 3em;
    color: #414042;
    border-radius: 15px;
}
#front-main #postcodeForm div input#pc {
    border-color: #fff;
    height: 3em;
    color: #414042;
    width: 100%;
    padding: 10px 10px;
}
#front-main #postcodeForm div input#sub {
    background: #4DB848;
    color: #fff !important;
    border-radius: 15px;
    height: 3em;
    width: auto;
    padding: 0em 0.5em 0em 0.5em;
}

#front-main #postcodeForm div input#sub:hover {
    background: #4DB848;
    color: #fff !important;
    border-radius: 15px;
    height: 3em;
    width: auto;
    padding: 0em 0.5em 0em 0.5em;
}


.shadow-wrap ul#key-tools {
 border-top: 2px solid #4DB848;
}

.nav-wrapper .nav-wrapper-2 {
  background: #fff;
}

body.mappage .nav-wrapper .nav-wrapper-2 {
    background: #fff;
    background-image: url('images/logo-bg2.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.big-green-banner {
  background: #4DB848 url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MyIgaGVpZ2h0PSIzMyI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTAgMGgxM2wxMyAxNi0xMyAxNkgwbDEzLTE2Ii8+PC9zdmc+') right center no-repeat;
}

.nav-wrapper .nav-wrapper-2 {
 border-top: 0px;
 border-bottom: 2px solid #4DB848;
 border-width: 0px 0 2px 0;
}

#side-report .full-width {
    margin: 0em;
}
#side-inspect {
    background-color: #eee;
}
#js-reports-list {
    margin: 0.5em;
}
.with-notes #map_sidebar {

 background-image: linear-gradient(90deg, transparent 29em, #eee 29em);

}


.content {
  color: #666;
}

/*
#map_box {
  position: absolute;
  z-index: auto;
  top: $mappage-header-height;
  bottom: 0;
  #{$right}: 0;
  #{$left}: 3.5rem;  
  //#{$left}: $mappage-sidebar-width;
  width: auto; // stretch from right edge of sidebar to left edge of window
  height: auto; // stretch from bottom of header to bottom of window
  margin: 0;

  .with-notes & {
    #{$left}: $mappage-with-notes-sidebar-width;
  }

  .with-actions & {
    #{$left}: ($mappage-with-actions-sidebar-width + 3);
  }
}

#map_sidebar {
  position: absolute;
  z-index: auto;
  top: ($mappage-header-height + 4);
  #{$left}: 5em; //0;
  bottom: 0;
  width: ($mappage-sidebar-width - ($mappage-sidebar-padding * 2));
  padding: $mappage-sidebar-padding;
  overflow: hidden; // auto; // vertical scrollbar when list is taller than window
  background-color: #fff; // since no longer in the flow inside .content
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  .with-notes & {
    width: ($mappage-with-notes-sidebar-width - ($mappage-sidebar-padding * 2));
    // TODO: Should have a bitmap image fallback for old browsers!!
    background-image: -webkit-linear-gradient(flip(90deg, 270deg), transparent 29em, #E9F2FF 29em);
    background-image: linear-gradient(flip(90deg, 270deg), transparent 29em, #E9F2FF 29em);
  }

  .with-actions & {
    width: $mappage-with-actions-sidebar-width;
    max-width: 100%; // Secondary column will squish on screens 768-960px
    padding: 0; // Padding will be handled by children of .two_column_sidebar
    left: 3.5em;
    top: $mappage-header-height;
    border-radius: 0;

    .shadow-wrap {
      left: 3.5em;
    }

    &:after {
      display: none; // 4em bottom spacing will be handled by children of .two_column_sidebar
    }
  }

  // Chrome/Safari count padding-bottom as part of the scrollable content in
  // an overflow:scroll element (technically in contravention of the spec),
  // whereas Firefox/IE render the padding outside the scrollable area.
  // We need padding at the bottom of the sidebar, to stop .shadow-wrap from
  // obscuring content at the bottom of the sidebar. So we use an :after
  // pseudo-element instead of padding.
  // https://bugzilla.mozilla.org/show_bug.cgi?id=748518
  &:after {
    content: "";
    display: block;
    height: 4em;
  }
}


.shadow-wrap {
  #{$left}: 5em;
}

#side-report{
  overflow: auto;
  padding-right: 25px;
  height: 92% !important;
  width: auto;
  position: absolute;
  padding-left: 10px;
}

*/

// SIDEBAR


$navW: 3.5rem;
$navColor: #fff;

.frontpage nav, .fullwidthpage nav {
  display: block !important;
  position: fixed;
  top: $mappage-header-height;
  left: 0;
  width: $navW;
  height: auto;
  bottom: 0;
  background: $navColor;
  transition: all 300ms ease;
  overflow: hidden;
  z-index: 50;
  border-right: 2px solid #4DB848;
  color:#999;

  a{
    color: #999;
  }

  // SIDEBAR EXPAND
  &:hover {
    width: ($navW * 4) + 1;
  }

  * {
    user-select: none;
  }

  span {
    color: #4DB848;
  }

  // SIDEBAR MENU
  > ul {
    display: table;
    width: ($navW * 4) + 1;
    color:#999;

    a{
      color: #999;
    }

    // SIDEBAR MENU ITEM
    > li {
      color:#999;

      a{
        color: #999;
      }
      display: table-row;
      
      cursor: pointer;

      &:hover {
        background: darken($navColor, 5%);
        color: #4DB848;
        a {
          color: #4DB848;
        }
      }

      &:active {
        background: darken($navColor, 5%);
        color: #4DB848;
        a {
          color: #4DB848;
        }
      }

      > div {
        color:#999;

        a{
          color: #999;
        }
        height: $navW;
        line-height: $navW;
        display: table-cell;

        // ICON
        &:nth-child(1) {
          width: $navW;
          text-align: center;
        }

        // DESCRIPTION
        &:nth-child(2) {
          width: $navW * 3;
          text-align: left;
          padding-left: $navW / 5;
        }
      }
    }
  }
}


/*


// This goes inside #map_sidebar, and establishes a flex container allowing
// us to split the sidebar into two side-by-side columns.
.two_column_sidebar {
  @include flex-container();
  @include flex-align(stretch); // children will fill entire height of this element
  min-height: 100%; // this element will fill entire height of parent (#map_sidebar)

  & > * {
    // Columns should start at 50% width, and (eg: if scrollbars appear,
    // reducing the available width), shrink down to less than 50%.
    @include box-sizing(border-box);
    @include flex(0 1 auto);
    width: 50%;
    padding: $mappage-sidebar-padding;

    // Add extra space at the bottom of the sidebar columns, to stop
    // .shadow-wrap obscuring text at the bottom of the sidebar.
    &:after {
      content: "";
      display: block;
      height: 4em;
    }
  }

  // Default for children is to share the horizontal space equally amongst
  // themselves. But to make sure that the edge of #side-report lines up
  // with the edge of .shadow-wrap, we give #side-report a fixed width,
  // and leave the other column to shrink to the remaining space.
  #side-report {
    width: $mappage-sidebar-width;
    height: 94% !important;
    @include flex(0 0 auto);
  }

  // No flexbox in IE8, so we settle for floating the columns instead.
  // They will no longer stretch the full height of the sidebar, and the
  // width of #side-report will no longer match the width of .shadow-wrap
  // when a scrollbar is present.
  .iel8 & {
    @include clearfix();

    & > * {
      float: left;
      width: 50%;
    }
  // with the edge of .shadow-wrap, we give #side-report a fixed width,
  // and leave the other column to shrink to the remaining space.
  #side-report {
    width: $mappage-sidebar-width;
    height: 94% !important;
    @include flex(0 0 auto);
  }

  // No flexbox in IE8, so we settle for floating the columns instead.
  // They will no longer stretch the full height of the sidebar, and the
  // width of #side-report will no longer match the width of .shadow-wrap
  // when a scrollbar is present.
  .iel8 & {
    @include clearfix();

    & > * {
      float: left;
      width: 50%;
    }

    #side-report {
      width: 50%;
    }
  }
}

#side-inspect {
  background-color: #E9F2FF;
  right: 0;
  position: absolute;
  overflow: auto;
  padding: 10px 10px 15px 10px;
  height: 100%;
}

}


*/
a {
  color: #48B848;
  text-decoration: none;
}

a:hover, a:active {
  color: #4E6E5D;
  text-decoration: none;
}

.header-logo #postcodeForm {
    z-index: 16;
    position: fixed;
    margin-left: 15em;
    margin-top: 0.4em;
}
.header-logo form input[type="text"] {
    background-color: transparent;
    width: 20em;
    float: left;
    border-bottom: 1px solid #999 !important;
    border: 1px solid;
    border-color: #fff;
    color: #ccc;
}
.header-logo #postcodeForm #sub {
    border: 1px solid #fff;
    border-bottom: 1px solid #999;
    margin-left: 5px;
}
.header-logo #postcodeForm #sub:hover {
    background-color: #fff;
    color: #4DB848 !important;
}

.showMenuSearch .header-logo #postcodeForm {
  display:block !important;
}

.header-logo #postcodeForm #geolocate_link {
  display: none;
}

#footer-help {
    border-left: 1em solid transparent;
    width: 46%;
    float: right;
    background: #fff;
    padding: 2em 1em 2em 1em;
    border-radius: 15px;
    height: 10em;
    margin-right: -1em;
}

#footer-mobileapps {
    border-right: 1em solid transparent;
    background: #fff;
    width: 46%;
    float: left;
    border-radius: 15px;
    padding: 2em 1em 2em 1em;
    height: 10em;
}

footer .bordered {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

body.twothirdswidthpage .content .sticky-sidebar {
    position: absolute;
    left: 42em;
    z-index: -1;
    top: -2em;
}

body.twothirdswidthpage .content .sticky-sidebar aside {
    margin-left: 2em;
    margin-top: 2em;
    top: 0;
    border-bottom: 2px solid #4DB848;
    position: absolute;
}