                    <a href="[% c.cobrand.base_url_with_lang(c.cobrand.base_url) IF admin %]/" id="site-logo">[% site_name %]</a>
        <form style="display:none;" action="[% c.uri_for('/around') %]" method="get" name="postcodeForm" id="postcodeForm">
            <div>
                <input type="text" name="pc" value="[% pc | html %]" id="pc" size="10" maxlength="200" placeholder="[% IF lang_code == 'sq' %]p.sh 'Rrugë, Lagje' ose 'Qytet'[% ELSIF lang_code == 'sr' %]npr. 'Ulica, Naselje' or 'Grad'[% ELSE %]e.g 'Street, Neighborhood' or 'City'[% END %]">
                <input type="submit" value="[% loc('Go') %]" id="sub">
            </div>
        </form>
